
.form{
 border:7px solid yellow;
 width:400px; 
 min-height: 300px;
 box-shadow:7px 7px  blue ;
 padding:30px;
 margin: 40px; 
    }
input { 
margin-top: 15px;
border-radius: 5px;
      }
.input_group{ padding:15px}

.form2{
    border:7px solid red;
    box-shadow:7px 7px  blue ;
    width:400px; 
    min-height: 300px;
    padding:30px;
    margin: 40px; 
}
.group2{margin: 30px;
         }
input{padding: 10px ; }


.form3{
    border:7px solid red;
    box-shadow:7px 10px  blue ;
    width:400px; 
    min-height: 600px;
    padding:30px;
    margin: 40px; 
}
.group3{margin:30px}

.b { display: inline-block; width: 125px;}
.a { display: inline-block; width: 155px:}
.e{margin-right:15px;}